:root {
  --primary-color: #e8bb08;
}
.SpinnerLoaderContainer {
  background-color: #eeeeef52;
  position: absolute;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 120px;
  width: 150px;
  height: 150px;
  text-align: center;
  z-index: 10000;
}

.SpinnerLoaderContainer svg {
  margin-top: 20px;
}

.SmallSpinnerLoaderContainer {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}

.spinner {
  --spinner-size: 7;
  --line-color: var(--primary-color);
  --line-alpha: 1;
  --line-size: 5;
  --ring-color: rgba(101, 101, 101, 0.82);
  --ring-alpha: 0.55;
  --ring-size: 1;

  font-size: calc(var(--spinner-size) * 1em);
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.spinner.small {
  --spinner-size: 3;
  --line-color: var(--primary-color);
  --line-alpha: 1;
  --line-size: 5;
  --ring-color: rgba(101, 101, 101, 0.82);
  --ring-alpha: 0.55;
  --ring-size: 1;

  font-size: calc(var(--spinner-size) * 1em);
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.spinner.tiny {
  --spinner-size: 1;
  --line-color: var(--primary-color);
  --line-alpha: 1;
  --line-size: 5;
  --ring-color: rgba(101, 101, 101, 0.82);
  --ring-alpha: 0.3;
  --ring-size: 2;

  font-size: calc(var(--spinner-size) * 1em);
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.spinner .line, .spinner.small .line, .spinner.tiny .line {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: calc(var(--line-size) * 1%);
  opacity: var(--line-alpha);
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate3d(0, 0, 1, 0deg);
  animation: 2156ms spinner-arc ease-in-out infinite,
  1829ms spinner-rotate linear infinite;
}

.spinner .ring, .spinner.small .ring, .spinner.tiny .ring {
  fill: none;
  stroke: var(--ring-color);
  stroke-width: calc(var(--ring-size) * 1%);
  opacity: var(--ring-alpha);
}

@keyframes spinner-rotate {
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes spinner-arc {
  from {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 100 150;
    stroke-dashoffset: -140;
  }
}
