.HeaderTopBar {
  display: grid;
  align-content: center;
  box-shadow: inset 0px -8px 37px -20px rgba(0, 0, 0, 0.75);
  padding: 0 15px;
}
.HeaderTopBar .container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
}
.HeaderTopBar .container .icon-logo {
  color: #e8bb08;
}
.HeaderTopBar .container h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 900;
  padding-left: 10px;
}
.HeaderTopBar .container h1 span {
  font-weight: 200;
  font-size: .9em;
  vertical-align: top;
}
.HeaderTopBar .container aside {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.4em;
}
.HeaderTopBar .container aside svg {
  cursor: pointer;
  transition: 0.3s ease-out;
}
.HeaderTopBar .container aside svg:hover {
  color: #e8bb08 !important;
}
@media only screen and (max-width: 958px) {
  .HeaderTopBar .container {
    padding: 10px 0;
  }
  .HeaderTopBar .container aside {
    display: none;
  }
}
@media only screen and (min-width: 959px) {
  .HeaderTopBar .container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
}
@media only screen and (max-width: 350px) {
  .HeaderTopBar {
    padding-left: 5px;
  }
  .HeaderTopBar .container svg {
    font-size: 2.5em;
  }
  .HeaderTopBar .container h1 {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 480px) {
  .HeaderTopBar {
    padding-right: 0;
  }
}
