@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,400,400i,600,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900');
@import './reset';
@import './colors';
@import './media';

html, body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
* {
  font-family: 'Source Sans Pro', sans-serif;
}
.App {
  display: grid;
  grid-template-rows: max-content 1fr;

}

.Content {
  background-color: #f1f1f1;
}