.AdminContent {
  position: absolute;
  top: 90px;
  right: 20px;
  background-color: #f1f1f1;
  width: calc(100% - 320px);
  transition: 0.1s ease-out;
}
.AdminContent[data-collapsed="true"] {
  width: calc(100% - 120px);
}
