.HeaderLinks {
  background-color: #333;
  display: grid;
  padding: 0 15px;
}
.HeaderLinks .BarsMenu {
  align-self: center;
  justify-self: end;
}
.HeaderLinks .BarsMenu svg {
  font-size: 1.7em;
}
.HeaderLinks .container {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(6, max-content) 300px;
  grid-column-gap: 20px;
  justify-content: space-between;
}
.HeaderLinks .container .main-link {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  margin-bottom: 12px;
  position: relative;
}
.HeaderLinks .container .main-link:hover,
.HeaderLinks .container .main-link[data-active="true"] {
  color: #e8bb08;
  border-color: #e8bb08 !important;
}
.HeaderLinks .container .main-link:hover .SecondaryLevelMenu,
.HeaderLinks .container .main-link[data-active="true"] .SecondaryLevelMenu {
  display: grid;
}
.HeaderLinks .container .SearchControl {
  justify-self: end;
  margin-bottom: 12px;
}
@media only screen and (max-width: 350px) {
  .HeaderLinks {
    padding-right: 5px;
  }
}
@media only screen and (max-width: 958px) {
  .HeaderLinks {
    background-color: #292929;
  }
  .HeaderLinks .container {
    display: none;
  }
}
@media only screen and (min-width: 959px) {
  .HeaderLinks .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .HeaderLinks .BarsMenu {
    display: none;
  }
}
.BarsMenu {
  align-self: center;
  position: relative;
  z-index: 2000;
}
.MobileMenu {
  width: 260px;
  height: 100%;
  padding: 20px;
  position: fixed;
  transition: transform 0.3s, box-shadow 0.3s;
  top: 0px;
  color: #292929;
  background-color: #fff;
}
.MobileMenu[data-open='true'] {
  transform: translateX(0px);
}
.MobileMenu[data-open='false'] {
  transform: translateX(-400px);
}
.MobileMenu hr {
  margin: 20px 0;
}
.MobileMenu a:not(.logo) {
  display: block;
  padding: 10px 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
}
.MobileMenu a:not(.logo) svg {
  margin-right: 15px;
  width: 25px !important;
}
.MobileMenu aside {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(5, max-content);
  font-size: 1.4em;
}
.MobileMenu aside svg {
  cursor: pointer;
  transition: 0.3s ease-out;
}
.MobileMenu aside svg:hover {
  color: #e8bb08 !important;
}
.MobileMenu .logo {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  grid-column-gap: 10px;
}
.MobileMenu .logo h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 900;
}
.MobileMenu .logo h1 span {
  font-weight: 200;
  font-size: .9em;
  vertical-align: top;
}
@media only screen and (max-width: 480px) {
  .MobileMenu {
    width: 65%;
  }
}
@media only screen and (min-width: 959px) {
  .MobileMenu {
    display: none;
  }
}
.SecondaryLevelMenu {
  z-index: 2000;
  text-transform: capitalize;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 3px 20px 0 rgba(128, 128, 128, 0.2);
  display: none;
  top: 25px;
  grid-template-columns: 200px 300px;
}
.SecondaryLevelMenu .LeftPanel,
.SecondaryLevelMenu .RightPanel {
  margin: 20px;
}
.SecondaryLevelMenu .LeftPanel {
  border-right: 1px solid #e8bb08;
}
.SecondaryLevelMenu .RightPanel h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.2em;
}
.SecondaryLevelMenu .menu-item {
  display: block;
  margin-bottom: 10px;
  color: #292929;
  border-left: 3px solid transparent;
}
.SecondaryLevelMenu .menu-item a:hover {
  color: #e8bb08;
}
.SecondaryLevelMenu .menu-item[data-active="false"],
.SecondaryLevelMenu .menu-item[data-active="true"] {
  padding-left: 10px;
}
.SecondaryLevelMenu .menu-item[data-active="true"] {
  border-color: #e8bb08;
}
.SecondaryLevelMenu:hover {
  display: grid;
}
